<template name="footer">
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-7 col-sm-9 footerText">
			<p style="margin-left:15px;">Made with <i class="icon ion-android-favorite-outline" style="margin-right:-27px;"></i> in California. &copy; Trottr {{year}}</p>
		</div>
		<div class="col-xs-5 col-sm-3 socialFooter">
			<div class="col-xs-3">
				<i class="icon ion-social-twitter-outline"></i>
			</div>
			<div class="col-xs-3">
				<i class="icon ion-social-facebook-outline"></i>
			</div>
			<div class="col-xs-3" id="instaDiv" style="margin-top:7px">
				<i class="icon ion-social-instagram-outline"></i>
			</div>
			<div class="col-xs-3">
				<a href="itmss://itunes.apple.com/us/app/trottr/id886105631?mt=8ign-msr=https%3A%2F%2Fwww.google.com%2F">
				<i class="icon ion-social-apple-outline"></i>
				</a>
			</div>
			
		</div>
	</div>
</div>
</template>