<template name="becomeClient">
    <div class="container" style="width:100%;margin-top:100px;height:700px;">

        <div class="fs-form-wrap" id="fs-form-wrap">
            <form id="myform" class="fs-form fs-form-full" autocomplete="off">
                <ol class="fs-fields">
                    <li>
                        <label class="fs-field-label fs-anim-upper" for="q1" >What's your First & Last name?</label>
                        <input class="fs-anim-lower" id="q1" name="q1" type="text" placeholder="Dean Moriarty" required/>
                        <label class="fs-field-label fs-anim-upper" for="q2">What's your phone number?</label>
                        <input class="fs-anim-lower" id="q2" name="q2" type="text" placeholder="310 229 3939" required/>
                        <label style="margin-top:3%;" class="fs-field-label fs-anim-upper" for="q3">Where does your dog live?</label>
                        <input class="fs-anim-lower" id="q3" name="q3" type="text" placeholder="1980 Dog st. #4 LA, CA, 90004" required/>
                    </li>
                    <li>
                        <label class="fs-field-label fs-anim-upper" id="q4Label1" for="q1">What's your dog's name?</label>
                        <input class="fs-anim-lower" id="q4" name="q4" type="text" placeholder="Mr. Biggles" required/>
                        <label class="fs-field-label fs-anim-upper" id="q4Label2" for="q1">Describe any special instructions or needs for your pup</label>
                        <input class="fs-anim-lower" id="q4Info" name="q4Info" type="text" placeholder="Describe them here" required/>
                        <button id="moreDogs1" class="fs-field-label fs-anim-upper"> If you have other dogs, you can add them once you're inside. </button>

                        <!--<label class="fs-field-label fs-anim-upper" id="q5Label1" for="q1">What's your second dog's name?</label>-->
                        <!--<input class="fs-anim-lower" id="q5" name="q5" type="text" placeholder="Mrs. Biggles" required/>-->
                        <!--<label class="fs-field-label fs-anim-upper" id="q5Label2" for="q1">Describe any special instructions or needs for your pup</label>-->
                        <!--<input class="fs-anim-lower" id="q5Info" name="q5Info" type="text" placeholder="Describe them here" />-->
                        <!--<button id="moreDogs2" class="fs-field-label fs-anim-upper"> Do you have another dog? </button>-->

                        <!--<label class="fs-field-label fs-anim-upper" id="q6Label1" for="q1">What's your third dog's name?</label>-->
                        <!--<input class="fs-anim-lower" id="q6" name="q6" type="text" placeholder="Brother Biggles" />-->
                        <!--<label class="fs-field-label fs-anim-upper" id="q6Label2" for="q1">Describe any special instructions or needs for your pup</label>-->
                        <!--<input class="fs-anim-lower" id="q6Info" name="q6Info" type="text" placeholder="Describe them here" />-->
                        <!--<button id="moreDogs3" class="fs-field-label fs-anim-upper"> Do you have another dog? </button>-->
                    </li>
                    <!--<li>-->
                        <!--<label class="fs-field-label fs-anim-upper" for="q1">Name On The Card</label>-->
                        <!--<input class="fs-anim-lower" id="q1" name="q1" type="text" placeholder="310 229 3939" required/>-->
                        <!--<label class="fs-field-label fs-anim-upper" for="q1">Credit Card Number</label>-->
                        <!--<input class="fs-anim-lower" id="q1" name="q1" type="number" placeholder="310 229 3939" required/>-->
                        <!--<label class="fs-field-label fs-anim-upper" for="q1">Credit Card Expiration Month</label>-->
                        <!--<input class="fs-anim-lower" id="q1" name="q1" type="number" placeholder="310 229 3939" required/>-->
                        <!--<label class="fs-field-label fs-anim-upper" for="q1">Credit Card Expiration Year</label>-->
                        <!--<input class="fs-anim-lower" id="q1" name="q1" type="number" placeholder="310 229 3939" required/>-->
                    <!--</li>-->
                </ol><!-- /fs-fields -->
                <button class="fs-submit" type="">Send answers</button>
            </form><!-- /fs-form -->
        </div><!-- /fs-form-wrap -->

    </div><!-- /container -->
</template>