.modal-content {
    color: #252d31;
}

.form-inline {
    text-align: center;
}
.selectize-control {
    overflow: visible;
}

#widthAdjust {
    width: 172px;
}

.datepicker{z-index:1151 !important;}
.timepickerModal{z-index:1151 !important;}
.selectize-input {
    overflow: visible;
}
