<template name="becomePro">
    <div class="container" style="width:100%;margin-top:100px;height:700px;">

        <div class="fs-form-wrap" id="fs-form-wrap">
            <form id="myform" class="fs-form fs-form-full" autocomplete="off">
                <ol class="fs-fields">
                    <li>
                        <label class="fs-field-label fs-anim-upper" for="q1">What's your name?</label>
                        <input class="fs-anim-lower" id="q1" name="q1" type="text" placeholder="Dean Moriarty" required/>
                        <label class="fs-field-label fs-anim-upper" for="q1">What's your businesses' name?</label>
                        <input class="fs-anim-lower" id="q2" name="q2" type="text" placeholder="Johnny Walker Inc." required/>
                        <label class="fs-field-label fs-anim-upper" for="q1">What's your business phone number?</label>
                        <input class="fs-anim-lower" id="q3" name="q3" type="number" placeholder="310 229 3939" required/>
                    </li>
                    <li>

                        <label style="margin-top:3%;" class="fs-field-label fs-anim-upper" for="q1">What's your business Address</label>
                        <input class="fs-anim-lower" id="q4" name="q4" type="text" placeholder="1980 Dog st. #4 LA, CA, 90004" required/>
                        <label class="fs-field-label fs-anim-upper" for="q1">How many miles do you guys travel to walk dogs?</label>
                        <input class="fs-anim-lower" id="q5" name="q5" type="number" placeholder="5" required/>
                        <label class="fs-field-label fs-anim-upper" for="q1">Tell the world about yourcompany</label>
                        <input class="fs-anim-lower" id="q6" name="q6" type="text" placeholder="5" required/>
                    </li>


                </ol><!-- /fs-fields -->
                <button class="fs-submit" type="submit">Register</button>
            </form><!-- /fs-form -->
        </div><!-- /fs-form-wrap -->

    </div><!-- /container -->
</template>