.home-page, .home-page .tabs-page {
  /* Default tab style */
  margin-top: 9%;
  /* Nav */
  /* Icons */
  /* Content */
  /* Fallback */
  /* Individual tab styles */
  /*****************************/
  /* Bar */
  /*****************************/
  /*****************************/
  /* Icon box */
  /*****************************/
  /*****************************/
  /* Underline */
  /*****************************/
  /*****************************/
  /* Triangle and line */
  /*****************************/
  /*****************************/
  /* Top Line */
  /*****************************/
  /*****************************/
  /* Falling Icon, from http://vintageproductions.eu/grid/interactivity/ */
  /*****************************/
  /*****************************/
  /* Moving Line */
  /*****************************/
  /* Move the line */
  /*****************************/
  /* Line */
  /*****************************/
  /*****************************/
  /* Circle */
  /*****************************/
  /*****************************/
  /* Shape */
  /*****************************/
  /* Make only shape clickable */
  /*****************************/
  /* Line Box */
  /*****************************/
  /*****************************/
  /* Flip */
  /*****************************/
  /*****************************/
  /* Fill up */
  /*****************************/
  /*****************************/
  /* Trapezoid, based on http://lea.verou.me/2013/10/slanted-tabs-with-css-3d-transforms/ */
  /*****************************/
  /*****************************/
  /* Circle fill */
  /*****************************/ }
  .home-page .tabs, .home-page .tabs-page .tabs {
    position: relative;
    overflow: visible;
    margin: 0 auto;
    width: 80%;
    font-weight: 300;
    font-size: 2.25em; }
  .home-page .tabs h4, .home-page .tabs-page .tabs h4 {
    color: #767676; }
  .home-page .tabs nav, .home-page .tabs-page .tabs nav {
    text-align: center; }
  .home-page .tabs nav ul, .home-page .tabs-page .tabs nav ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center; }
  .home-page .tabs nav ul li, .home-page .tabs-page .tabs nav ul li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .home-page .tabs nav a, .home-page .tabs-page .tabs nav a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5; }
  .home-page .tabs nav a span, .home-page .tabs-page .tabs nav a span {
    vertical-align: middle;
    font-size: 0.75em; }
  .home-page .tabs nav li.tab-current a, .home-page .tabs-page .tabs nav li.tab-current a {
    color: #74777b; }
  .home-page .tabs nav a:focus, .home-page .tabs-page .tabs nav a:focus {
    outline: none; }
  .home-page .icon::before, .home-page .tabs-page .icon::before {
    z-index: 10;
    display: inline-block;
    margin: 0 0.4em 0 0;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-size: 1.3em;
    font-family: 'stroke7pixeden';
    line-height: 1;
    speak: none;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .home-page .icon-upload::before, .home-page .tabs-page .icon-upload::before {
    content: "\e68a"; }
  .home-page .icon-tools::before, .home-page .tabs-page .icon-tools::before {
    content: "\e60a"; }
  .home-page .icon-plane::before, .home-page .tabs-page .icon-plane::before {
    content: "\e625"; }
  .home-page .icon-joy::before, .home-page .tabs-page .icon-joy::before {
    content: "\e6a4"; }
  .home-page .icon-plug::before, .home-page .tabs-page .icon-plug::before {
    content: "\e69a"; }
  .home-page .icon-home::before, .home-page .tabs-page .icon-home::before {
    content: "\e648"; }
  .home-page .icon-gift::before, .home-page .tabs-page .icon-gift::before {
    content: "\e652"; }
  .home-page .icon-display::before, .home-page .tabs-page .icon-display::before {
    content: "\e65e"; }
  .home-page .icon-date::before, .home-page .tabs-page .icon-date::before {
    content: "\e660"; }
  .home-page .icon-config::before, .home-page .tabs-page .icon-config::before {
    content: "\e666"; }
  .home-page .icon-coffee::before, .home-page .tabs-page .icon-coffee::before {
    content: "\e669"; }
  .home-page .icon-camera::before, .home-page .tabs-page .icon-camera::before {
    content: "\e66f"; }
  .home-page .icon-box::before, .home-page .tabs-page .icon-box::before {
    content: "\e674"; }
  .home-page .content-wrap, .home-page .tabs-page .content-wrap {
    position: relative; }
  .home-page .content-wrap section, .home-page .tabs-page .content-wrap section {
    display: none;
    margin: 0 auto;
    padding: 1em;
    max-width: 99%;
    text-align: center; }
  .home-page .content-wrap section.content-current, .home-page .tabs-page .content-wrap section.content-current {
    display: block; }
  .home-page .content-wrap section p, .home-page .tabs-page .content-wrap section p {
    margin: 0;
    padding: 0.75em 0;
    color: rgba(40, 44, 42, 0.05);
    font-weight: 900;
    font-size: 4em;
    line-height: 1; }
  .home-page .no-js .content-wrap section, .home-page .tabs-page .no-js .content-wrap section {
    display: block;
    padding-bottom: 2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6); }
  .home-page .no-flexbox nav ul, .home-page .tabs-page .no-flexbox nav ul {
    display: block; }
  .home-page .no-flexbox nav ul li, .home-page .tabs-page .no-flexbox nav ul li {
    min-width: 15%;
    display: inline-block; }
  @media screen and (max-width: 58em) {
    .home-page .tabs nav a.icon span, .home-page .tabs-page .tabs nav a.icon span {
      display: none; }
    .home-page .tabs nav a:before, .home-page .tabs-page .tabs nav a:before {
      margin-right: 0; } }
  .home-page .tabs-style-bar nav, .home-page .tabs-page .tabs-style-bar nav {
    background: rgba(40, 44, 42, 0.05); }
  .home-page .tabs-style-bar nav ul, .home-page .tabs-page .tabs-style-bar nav ul {
    border: 4px solid transparent; }
  .home-page .tabs-style-bar nav ul li a, .home-page .tabs-page .tabs-style-bar nav ul li a {
    margin: 0 2px;
    background-color: #f7f7f7;
    color: #74777b;
    transition: background-color 0.2s, color 0.2s; }
  .home-page .tabs-style-bar nav ul li a:hover,
  .home-page .tabs-style-bar nav ul li a:focus, .home-page .tabs-page .tabs-style-bar nav ul li a:hover,
  .home-page .tabs-page .tabs-style-bar nav ul li a:focus {
    color: #2CC185; }
  .home-page .tabs-style-bar nav ul li a span, .home-page .tabs-page .tabs-style-bar nav ul li a span {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 0.6em; }
  .home-page .tabs-style-bar nav ul li.tab-current a, .home-page .tabs-page .tabs-style-bar nav ul li.tab-current a {
    background: #eb6a5a;
    color: #fff; }
  .home-page .tabs-style-iconbox nav, .home-page .tabs-page .tabs-style-iconbox nav {
    background: rgba(255, 255, 255, 0.4); }
  .home-page .tabs-style-iconbox nav ul li a, .home-page .tabs-page .tabs-style-iconbox nav ul li a {
    overflow: visible;
    padding: 2em 0;
    line-height: 1;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
  .home-page .tabs-style-iconbox nav ul li a span, .home-page .tabs-page .tabs-style-iconbox nav ul li a span {
    font-weight: 700;
    font-size: 0.7em; }
  .home-page .tabs-style-iconbox nav ul li.tab-current, .home-page .tabs-page .tabs-style-iconbox nav ul li.tab-current {
    z-index: 100; }
  .home-page .tabs-style-iconbox nav ul li.tab-current a, .home-page .tabs-page .tabs-style-iconbox nav ul li.tab-current a {
    background: #fff;
    box-shadow: -1px 0 0 #fff; }
  .home-page .tabs-style-iconbox nav ul li.tab-current a::after, .home-page .tabs-page .tabs-style-iconbox nav ul li.tab-current a::after {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    border-top-color: #fff;
    content: '';
    pointer-events: none; }
  .home-page .tabs-style-iconbox nav ul li:first-child::before,
  .home-page .tabs-style-iconbox nav ul li::after, .home-page .tabs-page .tabs-style-iconbox nav ul li:first-child::before,
  .home-page .tabs-page .tabs-style-iconbox nav ul li::after {
    position: absolute;
    top: 20%;
    right: 0;
    z-index: -1;
    width: 1px;
    height: 60%;
    background: rgba(0, 0, 0, 0.07);
    content: ''; }
  .home-page .tabs-style-iconbox nav ul li:first-child::before, .home-page .tabs-page .tabs-style-iconbox nav ul li:first-child::before {
    right: auto;
    left: 0; }
  .home-page .tabs-style-iconbox .icon::before, .home-page .tabs-page .tabs-style-iconbox .icon::before {
    display: block;
    margin: 0 0 0.25em 0; }
  .home-page .tabs-style-underline nav, .home-page .tabs-page .tabs-style-underline nav {
    background: #fff; }
  .home-page .tabs-style-underline nav a, .home-page .tabs-page .tabs-style-underline nav a {
    padding: 0.25em 0 0.5em;
    border-left: 1px solid #e7ecea;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
  .home-page .tabs-style-underline nav li:last-child a, .home-page .tabs-page .tabs-style-underline nav li:last-child a {
    border-right: 1px solid #e7ecea; }
  .home-page .tabs-style-underline nav li a::after, .home-page .tabs-page .tabs-style-underline nav li a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: #eb6a5a;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0); }
  .home-page .tabs-style-underline nav li.tab-current a::after, .home-page .tabs-page .tabs-style-underline nav li.tab-current a::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .home-page .tabs-style-underline nav a span, .home-page .tabs-page .tabs-style-underline nav a span {
    font-weight: 700; }
  .home-page .tabs-style-linetriangle nav a, .home-page .tabs-page .tabs-style-linetriangle nav a {
    overflow: visible;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
  .home-page .tabs-style-linetriangle nav a span, .home-page .tabs-page .tabs-style-linetriangle nav a span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1em; }
  .home-page .tabs-style-linetriangle nav li.tab-current a:after,
  .home-page .tabs-style-linetriangle nav li.tab-current a:before, .home-page .tabs-page .tabs-style-linetriangle nav li.tab-current a:after,
  .home-page .tabs-page .tabs-style-linetriangle nav li.tab-current a:before {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border: solid transparent;
    content: '';
    pointer-events: none; }
  .home-page .tabs-style-linetriangle nav li.tab-current a:after, .home-page .tabs-page .tabs-style-linetriangle nav li.tab-current a:after {
    margin-left: -10px;
    border-width: 10px;
    border-top-color: #e7ecea; }
  .home-page .tabs-style-linetriangle nav li.tab-current a:before, .home-page .tabs-page .tabs-style-linetriangle nav li.tab-current a:before {
    margin-left: -11px;
    border-width: 11px;
    border-top-color: rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 58em) {
    .home-page .tabs-style-linetriangle nav, .home-page .tabs-page .tabs-style-linetriangle nav {
      font-size: 0.6em; } }
  .home-page .tabs-style-topline, .home-page .tabs-page .tabs-style-topline {
    max-width: 1200px; }
  .home-page .tabs-style-topline nav li, .home-page .tabs-page .tabs-style-topline nav li {
    border: 1px solid rgba(40, 44, 42, 0.1); }
  .home-page .tabs-style-topline nav li:not(:last-child), .home-page .tabs-page .tabs-style-topline nav li:not(:last-child) {
    border-right: none; }
  .home-page .tabs-style-topline nav li.tab-current, .home-page .tabs-page .tabs-style-topline nav li.tab-current {
    border-top-color: #eb6a5a;
    border-bottom: none; }
  .home-page .tabs-style-topline nav a, .home-page .tabs-page .tabs-style-topline nav a {
    padding: 0.65em 0 0.5em;
    background: rgba(40, 44, 42, 0.05);
    color: #74777b;
    line-height: 1;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
  .home-page .tabs-style-topline nav a:hover,
  .home-page .tabs-style-topline nav a:focus, .home-page .tabs-page .tabs-style-topline nav a:hover,
  .home-page .tabs-page .tabs-style-topline nav a:focus {
    color: #eb6a5a;
    text-decoration: none; }
  .home-page .tabs-style-topline nav li.tab-current a, .home-page .tabs-page .tabs-style-topline nav li.tab-current a {
    background: none;
    box-shadow: inset 0 3px 0 #eb6a5a;
    color: #eb6a5a; }
  .home-page .tabs-style-topline .icon::before, .home-page .tabs-page .tabs-style-topline .icon::before {
    display: block;
    margin: 0; }
  .home-page .tabs-style-topline nav a span, .home-page .tabs-page .tabs-style-topline nav a span {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 0.5em; }
  .home-page .tabs-style-iconfall, .home-page .tabs-page .tabs-style-iconfall {
    overflow: visible; }
  .home-page .tabs-style-iconfall nav a, .home-page .tabs-page .tabs-style-iconfall nav a {
    display: inline-block;
    overflow: visible;
    padding: 1em 0 2em;
    color: #74777b;
    line-height: 1;
    -webkit-transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1); }
  .home-page .tabs-style-iconfall nav a:hover,
  .home-page .tabs-style-iconfall nav a:focus,
  .home-page .tabs-style-iconfall nav li.tab-current a, .home-page .tabs-page .tabs-style-iconfall nav a:hover,
  .home-page .tabs-page .tabs-style-iconfall nav a:focus,
  .home-page .tabs-page .tabs-style-iconfall nav li.tab-current a {
    color: #eb6a5a; }
  .home-page .tabs-style-iconfall nav a span, .home-page .tabs-page .tabs-style-iconfall nav a span {
    font-weight: 700; }
  .home-page .tabs-style-iconfall nav li::before, .home-page .tabs-page .tabs-style-iconfall nav li::before {
    position: absolute;
    bottom: 1em;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 4px;
    background: #eb6a5a;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1); }
  .home-page .tabs-style-iconfall nav li.tab-current::before, .home-page .tabs-page .tabs-style-iconfall nav li.tab-current::before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  .home-page .tabs-style-iconfall .icon::before, .home-page .tabs-page .tabs-style-iconfall .icon::before {
    display: block;
    margin: 0 0 0.35em;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    pointer-events: none; }
  .home-page .tabs-style-iconfall nav li.tab-current .icon::before, .home-page .tabs-page .tabs-style-iconfall nav li.tab-current .icon::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  @media screen and (max-width: 58em) {
    .home-page .tabs-style-iconfall nav li .icon::before, .home-page .tabs-page .tabs-style-iconfall nav li .icon::before {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); } }
  .home-page .tabs-style-linemove nav, .home-page .tabs-page .tabs-style-linemove nav {
    background: #fff; }
  .home-page .tabs-style-linemove nav li:last-child::before, .home-page .tabs-page .tabs-style-linemove nav li:last-child::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #eb6a5a;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s; }
  .home-page .tabs-style-linemove nav li:first-child.tab-current ~ li:last-child::before, .home-page .tabs-page .tabs-style-linemove nav li:first-child.tab-current ~ li:last-child::before {
    -webkit-transform: translate3d(-400%, 0, 0);
    transform: translate3d(-400%, 0, 0); }
  .home-page .tabs-style-linemove nav li:nth-child(2).tab-current ~ li:last-child::before, .home-page .tabs-page .tabs-style-linemove nav li:nth-child(2).tab-current ~ li:last-child::before {
    -webkit-transform: translate3d(-300%, 0, 0);
    transform: translate3d(-300%, 0, 0); }
  .home-page .tabs-style-linemove nav li:nth-child(3).tab-current ~ li:last-child::before, .home-page .tabs-page .tabs-style-linemove nav li:nth-child(3).tab-current ~ li:last-child::before {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0); }
  .home-page .tabs-style-linemove nav li:nth-child(4).tab-current ~ li:last-child::before, .home-page .tabs-page .tabs-style-linemove nav li:nth-child(4).tab-current ~ li:last-child::before {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  .home-page .tabs-style-linemove nav a, .home-page .tabs-page .tabs-style-linemove nav a {
    padding: 1em 0;
    color: #74777b;
    line-height: 1;
    -webkit-transition: color 0.3s, -webkit-transform 0.3s;
    transition: color 0.3s, transform 0.3s; }
  .home-page .tabs-style-linemove nav li.tab-current a, .home-page .tabs-page .tabs-style-linemove nav li.tab-current a {
    color: #eb6a5a;
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0); }
  .home-page .tabs-style-linemove nav a span, .home-page .tabs-page .tabs-style-linemove nav a span {
    font-weight: 700; }
  .home-page .tabs-style-line nav ul, .home-page .tabs-page .tabs-style-line nav ul {
    padding: 0 2em;
    max-width: none;
    box-shadow: inset 0 -2px #d1d3d2; }
  .home-page .tabs-style-line nav a, .home-page .tabs-page .tabs-style-line nav a {
    padding: 0.7em 0.4em;
    box-shadow: inset 0 -2px #d1d3d2;
    color: #74777b;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 0.8em;
    line-height: 1;
    -webkit-transition: color 0.3s, box-shadow 0.3s;
    transition: color 0.3s, box-shadow 0.3s; }
  .home-page .tabs-style-line nav a:hover,
  .home-page .tabs-style-line nav a:focus, .home-page .tabs-page .tabs-style-line nav a:hover,
  .home-page .tabs-page .tabs-style-line nav a:focus {
    box-shadow: inset 0 -2px #74777b; }
  .home-page .tabs-style-line nav li.tab-current a, .home-page .tabs-page .tabs-style-line nav li.tab-current a {
    box-shadow: inset 0 -2px #eb6a5a;
    color: #eb6a5a; }
  @media screen and (max-width: 58em) {
    .home-page .tabs-style-line nav ul, .home-page .tabs-page .tabs-style-line nav ul {
      display: block;
      box-shadow: none; }
    .home-page .tabs-style-line nav ul li, .home-page .tabs-page .tabs-style-line nav ul li {
      display: block;
      -webkit-flex: none;
      flex: none; } }
  .home-page .tabs-style-circle, .home-page .tabs-page .tabs-style-circle {
    overflow: visible; }
  .home-page .tabs-style-circle nav li::before, .home-page .tabs-page .tabs-style-circle nav li::before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -60px 0 0 -60px;
    width: 120px;
    height: 120px;
    border: 1px solid #eb6a5a;
    border-radius: 50%;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1); }
  @media screen and (max-width: 58em) {
    .home-page .tabs-style-circle nav li::before, .home-page .tabs-page .tabs-style-circle nav li::before {
      margin: -40px 0 0 -40px;
      width: 80px;
      height: 80px; } }
  .home-page .tabs-style-circle nav li.tab-current::before, .home-page .tabs-page .tabs-style-circle nav li.tab-current::before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  .home-page .tabs-style-circle nav a, .home-page .tabs-page .tabs-style-circle nav a {
    overflow: visible;
    color: #74777b;
    font-weight: 700;
    font-size: 0.9em;
    line-height: 1.1;
    -webkit-transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1); }
  .home-page .tabs-style-circle nav a span, .home-page .tabs-page .tabs-style-circle nav a span {
    display: inline-block; }
  .home-page .tabs-style-circle nav a span,
  .home-page .tabs-style-circle .icon::before, .home-page .tabs-page .tabs-style-circle nav a span,
  .home-page .tabs-page .tabs-style-circle .icon::before {
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.3, 1); }
  .home-page .tabs-style-circle nav a:hover,
  .home-page .tabs-style-circle nav a:focus, .home-page .tabs-page .tabs-style-circle nav a:hover,
  .home-page .tabs-page .tabs-style-circle nav a:focus {
    color: #4a4a4b; }
  .home-page .tabs-style-circle nav li.tab-current a, .home-page .tabs-page .tabs-style-circle nav li.tab-current a {
    color: #eb6a5a; }
  .home-page .tabs-style-circle nav li.tab-current a span, .home-page .tabs-page .tabs-style-circle nav li.tab-current a span {
    -webkit-transform: translate3d(0, 4px, 0);
    transform: translate3d(0, 4px, 0); }
  .home-page .tabs-style-circle .icon::before, .home-page .tabs-page .tabs-style-circle .icon::before {
    display: block;
    margin: 0;
    pointer-events: none; }
  .home-page .tabs-style-circle nav li.tab-current .icon::before, .home-page .tabs-page .tabs-style-circle nav li.tab-current .icon::before {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); }
  .home-page .tabs-style-shape, .home-page .tabs-page .tabs-style-shape {
    max-width: 1200px; }
  .home-page .tabs-style-shape nav ul li, .home-page .tabs-page .tabs-style-shape nav ul li {
    margin: 0 3em; }
  .home-page .tabs-style-shape nav ul li:first-child, .home-page .tabs-page .tabs-style-shape nav ul li:first-child {
    margin-left: 0; }
  .home-page .tabs-style-shape nav ul li.tab-current, .home-page .tabs-page .tabs-style-shape nav ul li.tab-current {
    z-index: 100; }
  .home-page .tabs-style-shape nav li a, .home-page .tabs-page .tabs-style-shape nav li a {
    overflow: visible;
    margin: 0 -3em 0 0;
    padding: 0;
    color: #fff;
    font-weight: 500; }
  .home-page .tabs-style-shape nav li:first-child a span, .home-page .tabs-page .tabs-style-shape nav li:first-child a span {
    padding-left: 2em;
    border-radius: 30px 0 0 0; }
  .home-page .tabs-style-shape nav li:last-child a span, .home-page .tabs-page .tabs-style-shape nav li:last-child a span {
    padding-right: 2em;
    border-radius: 0 30px 0 0; }
  .home-page .tabs-style-shape nav li a svg, .home-page .tabs-page .tabs-style-shape nav li a svg {
    position: absolute;
    left: 100%;
    margin: 0;
    width: 3em;
    height: 100%;
    fill: #bdc2c9; }
  .home-page .tabs-style-shape nav li a svg:nth-child(2),
  .home-page .tabs-style-shape nav li:last-child a svg, .home-page .tabs-page .tabs-style-shape nav li a svg:nth-child(2),
  .home-page .tabs-page .tabs-style-shape nav li:last-child a svg {
    right: 100%;
    left: auto;
    -webkit-transform: scale3d(-1, 1, 1);
    transform: scale3d(-1, 1, 1); }
  .home-page .tabs-style-shape nav li a span, .home-page .tabs-page .tabs-style-shape nav li a span {
    display: block;
    overflow: hidden;
    padding: 0.65em 0;
    background-color: #bdc2c9;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .home-page .tabs-style-shape nav li a:hover span, .home-page .tabs-page .tabs-style-shape nav li a:hover span {
    background-color: #eb6a5a; }
  .home-page .tabs-style-shape nav li a:hover svg, .home-page .tabs-page .tabs-style-shape nav li a:hover svg {
    fill: #eb6a5a; }
  .home-page .tabs-style-shape nav li a svg, .home-page .tabs-page .tabs-style-shape nav li a svg {
    pointer-events: none; }
  .home-page .tabs-style-shape nav li a svg use, .home-page .tabs-page .tabs-style-shape nav li a svg use {
    pointer-events: auto; }
  .home-page .tabs-style-shape nav li.tab-current a span,
  .home-page .tabs-style-shape nav li.tab-current a svg, .home-page .tabs-page .tabs-style-shape nav li.tab-current a span,
  .home-page .tabs-page .tabs-style-shape nav li.tab-current a svg {
    -webkit-transition: none;
    transition: none; }
  .home-page .tabs-style-shape nav li.tab-current a span, .home-page .tabs-page .tabs-style-shape nav li.tab-current a span {
    background: #fff; }
  .home-page .tabs-style-shape nav li.tab-current a svg, .home-page .tabs-page .tabs-style-shape nav li.tab-current a svg {
    fill: #fff; }
  .home-page .tabs-style-shape .content-wrap, .home-page .tabs-page .tabs-style-shape .content-wrap {
    background: #fff; }
  @media screen and (max-width: 58em) {
    .home-page .tabs-style-shape nav ul, .home-page .tabs-page .tabs-style-shape nav ul {
      display: block;
      padding-top: 1.5em; }
    .home-page .tabs-style-shape nav ul li, .home-page .tabs-page .tabs-style-shape nav ul li {
      display: block;
      margin: -1.25em 0 0;
      -webkit-flex: none;
      flex: none; }
    .home-page .tabs-style-shape nav ul li a, .home-page .tabs-page .tabs-style-shape nav ul li a {
      margin: 0; }
    .home-page .tabs-style-shape nav ul li svg, .home-page .tabs-page .tabs-style-shape nav ul li svg {
      display: none; }
    .home-page .tabs-style-shape nav ul li a span, .home-page .tabs-page .tabs-style-shape nav ul li a span {
      padding: 1.25em 0 2em !important;
      border-radius: 30px 30px 0 0 !important;
      box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
      line-height: 1; }
    .home-page .tabs-style-shape nav ul li:last-child a span, .home-page .tabs-page .tabs-style-shape nav ul li:last-child a span {
      padding: 1.25em 0 !important; }
    .home-page .tabs-style-shape nav ul li.tab-current, .home-page .tabs-page .tabs-style-shape nav ul li.tab-current {
      z-index: 1; } }
  .home-page .tabs-style-linebox nav ul li, .home-page .tabs-page .tabs-style-linebox nav ul li {
    margin: 0 0.5em;
    -webkit-flex: none;
    flex: none; }
  .home-page .tabs-style-linebox nav a, .home-page .tabs-page .tabs-style-linebox nav a {
    padding: 0 1.5em;
    color: #74777b;
    font-weight: 700;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
  .home-page .tabs-style-linebox nav a:hover,
  .home-page .tabs-style-linebox nav a:focus, .home-page .tabs-page .tabs-style-linebox nav a:hover,
  .home-page .tabs-page .tabs-style-linebox nav a:focus {
    color: #eb6a5a; }
  .home-page .tabs-style-linebox nav li.tab-current a, .home-page .tabs-page .tabs-style-linebox nav li.tab-current a {
    color: #fff; }
  .home-page .tabs-style-linebox nav a::after, .home-page .tabs-page .tabs-style-linebox nav a::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #d2d8d6;
    content: '';
    -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
    transition: background-color 0.3s, transform 0.3s;
    -webkit-transition-timing-function: ease, cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: ease, cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
    transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0); }
  .home-page .tabs-style-linebox nav li.tab-current a::after, .home-page .tabs-page .tabs-style-linebox nav li.tab-current a::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .home-page .tabs-style-linebox nav a:hover::after,
  .home-page .tabs-style-linebox nav a:focus::after,
  .home-page .tabs-style-linebox nav li.tab-current a::after, .home-page .tabs-page .tabs-style-linebox nav a:hover::after,
  .home-page .tabs-page .tabs-style-linebox nav a:focus::after,
  .home-page .tabs-page .tabs-style-linebox nav li.tab-current a::after {
    background: #eb6a5a; }
  @media screen and (max-width: 58em) {
    .home-page .tabs-style-linebox nav ul, .home-page .tabs-page .tabs-style-linebox nav ul {
      display: block;
      box-shadow: none; }
    .home-page .tabs-style-linebox nav ul li, .home-page .tabs-page .tabs-style-linebox nav ul li {
      display: block;
      -webkit-flex: none;
      flex: none; } }
  .home-page .tabs-style-flip, .home-page .tabs-page .tabs-style-flip {
    max-width: 1200px; }
  .home-page .tabs-style-flip nav a, .home-page .tabs-page .tabs-style-flip nav a {
    padding: 0.5em 0;
    color: #eb6a5a;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
  .home-page .tabs-style-flip nav a:hover,
  .home-page .tabs-style-flip nav a:focus,
  .home-page .tabs-style-flip nav li.tab-current a, .home-page .tabs-page .tabs-style-flip nav a:hover,
  .home-page .tabs-page .tabs-style-flip nav a:focus,
  .home-page .tabs-page .tabs-style-flip nav li.tab-current a {
    color: #74777b; }
  .home-page .tabs-style-flip nav a span, .home-page .tabs-page .tabs-style-flip nav a span {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 0.625em; }
  .home-page .tabs-style-flip nav a::after, .home-page .tabs-page .tabs-style-flip nav a::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    content: '';
    -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
    transition: transform 0.3s, background-color 0.3s;
    -webkit-transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-perspective-origin: 50% 100%;
    perspective-origin: 50% 100%; }
  .home-page .tabs-style-flip nav li.tab-current a::after, .home-page .tabs-page .tabs-style-flip nav li.tab-current a::after {
    background-color: #fff;
    -webkit-transform: perspective(900px) rotate3d(1, 0, 0, 0deg);
    transform: perspective(900px) rotate3d(1, 0, 0, 0deg); }
  .home-page .tabs-style-flip .content-wrap, .home-page .tabs-page .tabs-style-flip .content-wrap {
    background: #fff; }
  .home-page .tabs-style-fillup nav ul li a, .home-page .tabs-page .tabs-style-fillup nav ul li a {
    padding: 1.9em 0;
    border-right: 1px solid #eb6a5a;
    line-height: 1;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .home-page .tabs-style-fillup nav ul li:last-child a, .home-page .tabs-page .tabs-style-fillup nav ul li:last-child a {
    border: none; }
  .home-page .tabs-style-fillup nav ul li.tab-current, .home-page .tabs-page .tabs-style-fillup nav ul li.tab-current {
    z-index: 100; }
  .home-page .tabs-style-fillup nav ul li.tab-current a, .home-page .tabs-page .tabs-style-fillup nav ul li.tab-current a {
    color: #fff; }
  .home-page .tabs-style-fillup nav ul li a::after, .home-page .tabs-page .tabs-style-fillup nav ul li a::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    height: calc(100% + 1px);
    border: 1px solid #eb6a5a;
    background: #eb6a5a;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  .home-page .tabs-style-fillup nav ul li.tab-current a::after, .home-page .tabs-page .tabs-style-fillup nav ul li.tab-current a::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .home-page .tabs-style-fillup nav ul li a span,
  .home-page .tabs-style-fillup .icon::before, .home-page .tabs-page .tabs-style-fillup nav ul li a span,
  .home-page .tabs-page .tabs-style-fillup .icon::before {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  .home-page .tabs-style-fillup nav ul li a span, .home-page .tabs-page .tabs-style-fillup nav ul li a span {
    display: block;
    font-weight: 700;
    font-size: 0.7em;
    line-height: 1.5; }
  .home-page .tabs-style-fillup .icon::before, .home-page .tabs-page .tabs-style-fillup .icon::before {
    display: block;
    margin: 0; }
  .home-page .tabs-style-fillup nav ul li.tab-current a span,
  .home-page .tabs-style-fillup li.tab-current .icon::before, .home-page .tabs-page .tabs-style-fillup nav ul li.tab-current a span,
  .home-page .tabs-page .tabs-style-fillup li.tab-current .icon::before {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  .home-page .tabs-style-tzoid, .home-page .tabs-page .tabs-style-tzoid {
    max-width: 1200px; }
  .home-page .tabs-style-tzoid nav, .home-page .tabs-page .tabs-style-tzoid nav {
    padding: 0 1em; }
  .home-page .tabs-style-tzoid nav ul li, .home-page .tabs-page .tabs-style-tzoid nav ul li {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .home-page .tabs-style-tzoid nav ul li a, .home-page .tabs-page .tabs-style-tzoid nav ul li a {
    padding: 0 1.5em 0 0.3em;
    color: #0d9564;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
  @media screen and (max-width: 54em) {
    .home-page .tabs-style-tzoid nav ul li a, .home-page .tabs-page .tabs-style-tzoid nav ul li a {
      padding: 0 0.5em 0 0.3em; }
    .home-page .imgSmall, .home-page .tabs-page .imgSmall {
      margin-left: 5px; } }
  @media screen and (max-width: 25em) {
    .home-page .imgSmall, .home-page .tabs-page .imgSmall {
      margin-left: -58px; }
    .home-page .tabs, .home-page .tabs-page .tabs {
      font-size: 1.25em; } }
  .home-page .tabs-style-tzoid nav ul li a:hover,
  .home-page .tabs-style-tzoid nav ul li a:focus, .home-page .tabs-page .tabs-style-tzoid nav ul li a:hover,
  .home-page .tabs-page .tabs-style-tzoid nav ul li a:focus {
    color: #fff; }
  .home-page .tabs-style-tzoid nav ul li.tab-current a,
  .home-page .tabs-style-tzoid nav ul li.tab-current a:hover, .home-page .tabs-page .tabs-style-tzoid nav ul li.tab-current a,
  .home-page .tabs-page .tabs-style-tzoid nav ul li.tab-current a:hover {
    color: #eb6a5a; }
  .home-page .tabs-style-tzoid nav ul li a span, .home-page .tabs-page .tabs-style-tzoid nav ul li a span {
    font-weight: 500;
    font-size: 0.75em; }
  .home-page .tabs-style-tzoid nav ul li a::after, .home-page .tabs-page .tabs-style-tzoid nav ul li a::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    outline: 1px solid transparent;
    border-radius: 10px 10px 0 0;
    background: #eb6a5a;
    box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.05);
    content: '';
    -webkit-transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
    transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .home-page .tabs-style-tzoid nav ul li.tab-current a::after,
  .home-page .tabs-style-tzoid .content-wrap, .home-page .tabs-page .tabs-style-tzoid nav ul li.tab-current a::after,
  .home-page .tabs-page .tabs-style-tzoid .content-wrap {
    background: #fff;
    box-shadow: none; }
  .home-page .tabs-style-circlefill, .home-page .tabs-page .tabs-style-circlefill {
    max-width: 700px;
    border: 1px solid #eb6a5a; }
  .home-page .tabs-style-circlefill nav ul li, .home-page .tabs-page .tabs-style-circlefill nav ul li {
    overflow: hidden;
    border-right: 1px solid #eb6a5a; }
  .home-page .tabs-style-circlefill nav li a, .home-page .tabs-page .tabs-style-circlefill nav li a {
    padding: 1.5em 0;
    color: #fff;
    font-size: 1.25em; }
  .home-page .tabs-style-circlefill nav li:first-child, .home-page .tabs-page .tabs-style-circlefill nav li:first-child {
    border-left: none; }
  .home-page .tabs-style-circlefill nav li:last-child, .home-page .tabs-page .tabs-style-circlefill nav li:last-child {
    border: none; }
  .home-page .tabs-style-circlefill nav li::before, .home-page .tabs-page .tabs-style-circlefill nav li::before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    width: 80px;
    height: 80px;
    border: 1px solid #eb6a5a;
    border-radius: 50%;
    background: #eb6a5a;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s; }
  .home-page .tabs-style-circlefill nav li.tab-current::before, .home-page .tabs-page .tabs-style-circlefill nav li.tab-current::before {
    -webkit-transform: scale3d(2.5, 2.5, 1);
    transform: scale3d(2.5, 2.5, 1); }
  .home-page .tabs-style-circlefill nav a, .home-page .tabs-page .tabs-style-circlefill nav a {
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
  .home-page .tabs-style-circlefill nav a span, .home-page .tabs-page .tabs-style-circlefill nav a span {
    display: none; }
  .home-page .tabs-style-circlefill nav li.tab-current a, .home-page .tabs-page .tabs-style-circlefill nav li.tab-current a {
    color: #fff; }
  .home-page .tabs-style-circlefill .icon::before, .home-page .tabs-page .tabs-style-circlefill .icon::before {
    display: block;
    margin: 0;
    pointer-events: none; }
  .home-page .tabs-style-circlefill .content-wrap, .home-page .tabs-page .tabs-style-circlefill .content-wrap {
    border-top: 1px solid #eb6a5a; }

/*# sourceMappingURL=tabs.css.map */
