.walkerHighlight-page {
  height: 1000px; }
  .walkerHighlight-page .schedule_cont {
    margin: 0;
    padding: 0; }
  .walkerHighlight-page .schedule_box {
    margin: 0;
    padding: 0; }
  .walkerHighlight-page .user_pic {
    float: left;
    width: 55%;
    height: 225px;
    border-right: solid 1px #eee6e6; }
  .walkerHighlight-page .user_pic img {
    width: 189px;
    height: 252px; }
  .walkerHighlight-page .user_schedule {
    width: 35%;
    padding: 8px 0 0 5%;
    margin: 0;
    float: left; }
  .walkerHighlight-page .user_schedule h3 {
    font-size: 20px;
    color: #4f4f4f;
    font-family: 'Raleway'; }
  .walkerHighlight-page .user_schedule ul {
    margin: 0;
    padding: 0; }
  .walkerHighlight-page .user_schedule ul li {
    list-style: none;
    display: block;
    margin: 0;
    padding: 14px 0 0 0;
    font-size: 14px;
    color: #4f4f4f;
    line-height: 11px; }
  .walkerHighlight-page .user_schedule li label {
    display: inline-block;
    width: 25px; }
  .walkerHighlight-page .user_schedule ul li span {
    display: inline-block;
    padding: 0px;
    padding-left: 16px; }
  .walkerHighlight-page .ak_btn {
    height: 42px;
    line-height: 42px;
    color: #fff !important;
    background: #eb6a5a;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: url("/img/btn_bg.png") repeat-x 0 0;
    width: 100%;
    box-shadow: 1px 1px 2px #ccc;
    text-align: center;
    display: block;
    font-weight: normal !important;
    font-size: 16px !important;
    font-family: 'HelveticaNeueLT Std Med';
    letter-spacing: 1px; }
  .walkerHighlight-page .rate_bar {
    margin: 0;
    margin-top: 12px;
    padding: 0;
    background: #eb6a5a;
    box-shadow: 0 -3px 0 #d35f51 inset;
    height: 35px;
    border-bottom: solid 1px #c8bab9; }
  .walkerHighlight-page .rate_bar ul {
    margin: 0;
    padding: 0; }
  .walkerHighlight-page .rate_bar ul li {
    list-style: none;
    margin: 5px;
    padding: 0;
    width: 25%;
    text-align: center;
    float: left; }
  .walkerHighlight-page .rate_bar ul li a {
    color: #fff;
    display: block;
    line-height: 26px;
    font-weight: normal !important;
    font-family: 'Raleway';
    font-size: 12px !important;
    letter-spacing: 1px;
    text-shadow: .5px .5px 0 #000000; }
  .walkerHighlight-page .notice_box {
    width: 95%;
    margin: 0 auto;
    box-shadow: 0px 1px 2px #ccc;
    min-height: 107px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
    overflow: hidden; }
  .walkerHighlight-page .notice_box h3 {
    background: #f8f9f9;
    font-size: 18px;
    color: #eb6a5a;
    text-align: center;
    padding: 7px 0 3px 0;
    margin: 0;
    font-weight: normal;
    overflow: hidden; }
  .walkerHighlight-page .notice_box p {
    font-size: 13px;
    letter-spacing: 1px;
    color: #4e565d;
    text-align: center;
    padding: 5px 10px; }
  .walkerHighlight-page .notice_box h4 {
    font-size: 18px;
    color: #646464;
    font-weight: 700;
    text-align: center;
    padding: 7px 0 3px;
    background: none repeat scroll 0 0 #F8F9F9;
    font-family: 'Raleway';
    letter-spacing: 1px; }
  .walkerHighlight-page .schedule_btn {
    padding: 16px 20px;
    margin: 0; }
  .walkerHighlight-page a {
    text-decoration: none !important;
    outline: none !important; }
  .walkerHighlight-page .clr {
    clear: both; }
  .walkerHighlight-page .nolpad {
    padding-left: 0 !important; }
  .walkerHighlight-page .norpad {
    padding-right: 0 !important; }
  .walkerHighlight-page .nobpad {
    padding-bottom: 0 !important; }
  .walkerHighlight-page .notpad {
    padding-top: 0 !important; }
  .walkerHighlight-page .nopad {
    padding: 0 !important; }
  .walkerHighlight-page h1, .walkerHighlight-page h2, .walkerHighlight-page h3, .walkerHighlight-page h4, .walkerHighlight-page h5, .walkerHighlight-page h6 {
    margin: 0;
    padding: 0; }
  .walkerHighlight-page .pull_left {
    text-align: left; }
  .walkerHighlight-page .pull_center {
    text-align: center; }
  .walkerHighlight-page .pull_right {
    text-align: right; }
  .walkerHighlight-page .flt_l {
    float: left !important; }
  .walkerHighlight-page .flt_r {
    float: right !important; }
  .walkerHighlight-page .notxt-shadow {
    text-shadow: none !important; }
  .walkerHighlight-page .ui-page {
    background: url(../images/body_bg.jpg) no-repeat top center !important;
    background-size: 100% 100% !important;
    background-attachment: fixed !important; }
  .walkerHighlight-page .ui-panel-content-wrap {
    background: url(../images/body_bg.jpg) no-repeat top center;
    background-size: 100% 100%;
    background-attachment: fixed; }
  .walkerHighlight-page .header {
    background: #eb6a5a;
    margin: 0 0 3px 0;
    height: 40px; }
  .walkerHighlight-page .header:after {
    background: url(../images/header_bg.png) no-repeat bottom center;
    position: absolute;
    content: " ";
    top: 40px;
    height: 3px;
    left: 0;
    width: 100%; }
  .walkerHighlight-page .header h1 {
    margin: 0 1.1em !important;
    line-height: 40px;
    font-size: 20px !important;
    color: #fff !important;
    font-weight: normal !important; }
  .walkerHighlight-page .login_main_cont {
    margin: 0;
    padding: 0 15px; }
  .walkerHighlight-page .login_logo {
    padding: 17px 0;
    text-align: center;
    margin: 0; }
  .walkerHighlight-page .login_logo img {
    width: 100px;
    height: 137px; }
  .walkerHighlight-page .login_cont {
    margin: 0;
    padding: 0; }
  .walkerHighlight-page .login_cont h3 {
    padding: 0 0 19px;
    text-align: center;
    margin: 0;
    font-size: 23.5px;
    line-height: 24px;
    color: #65707a;
    font-weight: normal;
    font-family: 'Raleway'; }
  .walkerHighlight-page .login_form {
    padding: 0;
    margin: 0; }
  .walkerHighlight-page .login_row {
    padding: 0;
    margin: 0 0 7px 0; }
  .walkerHighlight-page .akinput {
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 1px 2px #ccc;
    height: 42px;
    width: 100%; }
  .walkerHighlight-page .akinput input[type="text"], .walkerHighlight-page .akinput input[type="password"], .walkerHighlight-page .akinput input[type="email"], .walkerHighlight-page .akinput input[type="tel"], .walkerHighlight-page .akinput input[type="number"] {
    background: none;
    border: none;
    margin: 0;
    padding: 0.8em 0 0 !important;
    font-size: 16px;
    color: #65707a; }
  .walkerHighlight-page .aktxarea {
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 1px 2px #ccc;
    min-height: 42px;
    width: 100%; }
  .walkerHighlight-page .aktxarea textarea {
    background: none;
    border: none;
    margin: 0;
    padding: 0.6em 10px !important;
    font-size: 16px;
    color: #65707a;
    margin: 0; }
  .walkerHighlight-page .akinput .ui-shadow-inset, .walkerHighlight-page .aktxarea .ui-shadow-inset {
    box-shadow: none; }
  .walkerHighlight-page .akinput div.ui-input-text, .walkerHighlight-page .aktxarea div.ui-input-text {
    margin: 0; }
  .walkerHighlight-page .aktxarea textarea.ui-input-text {
    height: 40px; }
  .walkerHighlight-page .login_btn_row {
    padding: 20px 0 0 0;
    margin: 0; }
  .walkerHighlight-page .ak_aktive {
    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 1px solid #FF0000 !important;
    padding: 0; }
  .walkerHighlight-page .ak_btn_mini {
    color: #fff !important;
    background: #eb6a5a;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: url(/img/btn_bg.png) repeat-x 0 0;
    box-shadow: 1px 1px 2px #ccc;
    text-align: center;
    display: inline-block;
    padding: 11px 17px;
    font-family: 'Raleway';
    font-size: 14px !important;
    font-weight: normal !important;
    letter-spacing: 1px; }
  .walkerHighlight-page .fgt_pass {
    margin: 0 0 13px 0;
    padding: 10px 0 0 0;
    display: block;
    text-align: center; }
  .walkerHighlight-page .fgt_pass a {
    font-size: 11px;
    color: #65707a;
    line-height: 11px; }
  .walkerHighlight-page .login_bottomcont {
    margin: 0;
    padding: 35px 0 31px 0;
    background: rgba(255, 255, 255, 0.6);
    text-align: center; }
  .walkerHighlight-page .new_here {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    color: #65707a; }
  .walkerHighlight-page .registernow {
    color: #eb6a5a;
    font-size: 26px;
    line-height: 26px;
    padding: 15px 0 0 0;
    display: block; }

/*# sourceMappingURL=walkerHighlight.css.map */
