<template name="webSearchPictures">
    <div class="container">
        <div class="content">
            <div class="grid">
                <figure class="effect-roxy">
                    <img src="img/la.jpg" alt="img02"/>
                    <figcaption>
                        <h2>Los <span>Angeles</span></h2>

                        <p>Long walks on the beach.</p>
                        <a href="/webSearch">View more</a>
                    </figcaption>
                </figure>
                <figure class="effect-roxy">
                    <img src="img/ny.jpg" alt="img16"/>
                    <figcaption>
                        <h2>New <span>York</span></h2>

                        <p>Exploring the city scape.</p>
                        <a href="/webSearch">View more</a>
                    </figcaption>
                </figure>
                <figure class="effect-roxy">
                    <img src="img/chicago.jpg" alt="img02"/>
                    <figcaption>
                        <h2>Chi<span>cago</span></h2>

                        <p>Roaming the windy roads.</p>
                        <a href="/webSearch">View more</a>
                    </figcaption>
                </figure>
                <figure class="effect-roxy">
                    <img src="img/sf.jpg" alt="img16"/>
                    <figcaption>
                        <h2>San <span>Francisco</span></h2>

                        <p>Strutting down Market Street.</p>
                        <a href="/webSearch">View more</a>
                    </figcaption>
                </figure>
                <figure class="effect-roxy">
                    <img src="img/sd.jpg" alt="img16"/>
                    <figcaption>
                        <h2>San <span>Diego</span></h2>

                        <p>Bridges and beaches build for walking</p>
                        <a href="/webSearch">View more</a>
                    </figcaption>
                </figure>
                <figure class="effect-roxy">
                    <img src="img/orangecounty.jpg" alt="img16"/>
                    <figcaption>
                        <h2>Orange<span>County</span></h2>

                        <p>Miles of beaches</p>
                        <a href="/webSearch">View more</a>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
        <!-- /container -->
</template>