<template name="about">
    <div class="container">
        <!-- Top Navigation -->
        <section>
            <div class="morph-button morph-button-overlay morph-button-fixed scroll">
                <button type="button" id="aboutPage">Learn About Us!</button>
                <div class="morph-content">
                    <div>
                        <div class="content-style-overlay">
                          <span id="closeAbout" class="icon icon-close" style="float:right;"> </span>
                            <h2>About us</h2>

                            <h3>Trottr was conceived to fill a legitimate need for people just like us </h3>
                           <p>
                               My cousin and I are lifelong dog owners. But this story isn’t about that...not entirely at least. The story of Trottr is based on couple of questions that have plagued us over the years.

                           </p>
<p>
    We both actively pursue careers in the arts where the only guarantee, at least in the beginning, is that you will struggle. We both have clocked thousands of hours at thankless jobs while we pursued degrees, made records, went on auditions, toured the world and made our own films, always bemoaning the fact that we had to schedule our creative endeavors around bartending or catering or temping. "Wouldn't it be great," we would often ask ourselves, "if our jobs were flexible and cool and paid enough to afford us the time we need to pursue our passions?”

</p>

<p>                            As dog owners, we know what it feels like to wonder if our dogs are getting the exercise they need, if they are stimulated enough during the days we have to be away from them for a few hours at a time. So many of us are highly dedicated to our careers, now maybe more than ever. This dedication occasionally keeps us from being able to spend enough time with our pets. Faced with having to scramble to figure out who we can trust to reliably take our dogs out when we couldn’t, we finally said, “who better to give our dogs the attention and exercise they need than people like … us?”
</p>
<p>
    This is the simple thrust behind Trottr: we want to give people like us - highly motivated students, artists, musicians, actors, athletes, photographers or anyone else that loves dogs - the opportunity to set their own schedule and make a living as professional dog walkers for owners that occasionally don't have enough hours in the day. If dog owners have peace of mind knowing that their dog is taken care of when they can’t be there, they will be happier and more productive. Likewise, when the Trottr community of dog walkers can comfortably take care of themselves and have the time they need to chase down their dreams, they too will be happier and more productive.

</p>
                            <p>We sincerely appreciate you checking us out.</p>

                            <p>Trottr</p>

                            <p>Your Dog's New Best Friend</p>
                        </div>
                    </div>
                </div>
            </div><!-- morph-button -->
        </section>
    </div><!-- /container -->
</template>