.automation-page {

	// tour nav bar

.navbar-nav {
	margin-top: 10px;
}

.navbar-default-tour {
	margin-top:50px;
	background-color: #eb6a5a;
	color: #fff;
	z-index: 50;
}

.navbar-default-tour a {
	color: #fff;
}

.navbar-default-tour .active {
	background-color: #fff;
}

.navbar-default-tour .active a {
	color: #eb6a5a;
}
//end tour nav bar
// This is for the background image and text over it. 
.homeBackground{
  background: url('/img/homeBackground.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top:50px;
  min-height:525px;
}

.headerText {
	color: #fff;
	text-align:center;
	margin-top: 100px;
}

.headerButton {
	width:50%;
	margin-left:40%;
}

.trottr_btn { 
	height:42px; 
	line-height:42px; 
	color:#fff;
	background:#eb6a5a;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
	background: transparent;
	width:40%;
	word-break: none;
	min-width:120px;
	border: 1px solid #eb6a5a;
	outline: 2px 2px 2px #eb6a5a; 
	text-align:center; 
	display:block; 
	font-weight:normal !important; 
	font-size:16px !important; 
	font-family: 'proxima_novalight'; 
	letter-spacing:1px;
}

a:hover, a:focus {
  color: #eb6a5a;
  text-decoration: none;
  outline: none;
}

#homeButton{
	margin-top:20px;
	margin-bottom:10px;
}

@media only screen and (max-width:1000px) {
	.homeBackground {
		min-height:800px;
	}
	.headerButton {
		margin-left:35%;
	}
}

@media only screen and (max-width:800px) {
	.homeBackground {
		min-height:600px;
	}
	.headerButton {
		margin-left:35%;
	}
}


@media only screen and (max-width:700px) {
	.homeBackground {
		min-height:500px;
	}
	.headerButton {
		margin-left:35%;
	}
}

@media only screen and (max-width:440px) {
	.homeBackground {
		min-height:400px;
	}
	.headerButton {
		margin-left:31%;
	}
}

// end home background image and text


// Slider Section
.slider {
	padding: 0;
}
.softwareHighlights {
	width: 80%;
	margin-left: 10%;
	margin-right:10%;
}
.softwareHighlights2 {
	width: 80%;
	margin-left: 10%;
	margin-right:10%;
	margin-top: 10px;
	margin-bottom:10px;
}

.callToAction {
	text-align:center;
	margin-bottom:10px;
}
.trottr_btn_wide { 
	height:42px; 
	line-height:42px; 
	color:#eb6a5a;
	background:#eb6a5a;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
	background: transparent;
	width:50%;
	word-break: none;
	min-width:185px;
	border: 1px solid #eb6a5a;
	outline: 2px 2px 2px #eb6a5a; 
	text-align:center; 
	display:block; 
	font-weight:normal !important; 
	font-size:16px !important; 
	font-family: 'proxima_novalight'; 
	letter-spacing:1px;
}

.calloutButton {
	width:50%;
	margin-left:37%;
}

.callOut {
	text-align:left;
	min-height:500px;
	color: #505050;
}

.quickHighlights {
	padding-top:150px;
	margin-left:5%; 
}



.featurette-image-right {
	float:right;
}

.featurette-image-left {
	float:left;
}


@media only screen and (max-width:700px) {
	
	.calloutButton {
		margin-left:30%;
	}
	.quickHighlights {
		padding-top:120px;
	}
}

@media only screen and (max-width:440px) {

	.calloutButton {
		margin-left:25%;
	}
	.quickHighlights {
		padding-top:97px;
	}
}

// end section below full screen image



.trottr_btn_white { 
	height:42px; 
	line-height:42px; 
	color:#fff;
	background:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
	background: transparent;
	width:50%;
	word-break: none;
	min-width:185px;
	border: 1px solid #fff;
	outline: 2px 2px 2px #fff; 
	text-align:center; 
	display:block; 
	font-weight:normal !important; 
	font-size:16px !important; 
	font-family: 'proxima_novalight'; 
	letter-spacing:1px;
}



// icon highlights section
.iconCallout {
	margin-bottom:50px;
}
.iconHighlights {
	margin-top:50px;
	text-align:center;
}

.iconHighlights h1 {
	text-align:center;
}

.iconHighlights2 {
	text-align: center;
}

.ion-ios7-calendar-outline, .ion-card, .ion-iphone, .ion-connection-bars, .ion-map, .ion-person-add, .ion-pizza, .ion-ios7-locked {
	font-size: 4em;
}

@media only screen and (max-width:600px) {
	.ion-ios7-calendar-outline, .ion-card, .ion-iphone, .ion-connection-bars, .ion-map, .ion-person-add, .ion-pizza, .ion-ios7-locked {
		font-size: 3em;
	}
}
// end icon highlights section

// call out section III w image 
.callOutBig {
  text-align: center;
  background-color: #505050;
  background-position-y: 100%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  min-height: 800px;
  color: #eb6a5a;
}

@media only screen and (max-width:600px) {
	.callOutImage {
	  background-position-y: 42%;
	}
}


// END call out section III w image 

// call out section III w image 
.callOutBig2 {
  text-align: center;
  background-color: #fff;
  background-position-y: 100%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  min-height: 800px;
  color: #eb6a5a;
}

@media only screen and (max-width:600px) {
	.callOutImage {
	  background-position-y: 42%;
	}
}


// END call out section III w image 



// call out section III w image 
.callOutImage {
  text-align: center;
  background-image: url('/img/couple_w_dog.jpg');
  background-position-y: 100%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  min-height: 500px;
  color: #fff;
}

@media only screen and (max-width:600px) {
	.callOutImage {
	  background-position-y: 42%;
	}
}


// END call out section III w image 

// mobile demo
.mobileDemo > div > img {
	height: 400px;
}

@media only screen and (max-width:1413px) {
	.mobileDemo > div > img {
	height: 350px;
	}
}

@media only screen and (max-width:1250px) {
	.mobileDemo > div > img {
	height: 300px;
	}
}

@media only screen and (max-width:600px) {
	.mobileDemo > div > img {
	height: 250px;
}
}
// end mobile demo

// demo form
.setUpDemo {
  text-align: center;
  background-image: url('/img/dogsonbeach.jpg');
  background-position-y: 50%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  min-height: 500px;
  color: #fff;
}

form .row {
	margin-right: -15px !important;
}
.trottr_btn_form { 
	height:42px; 
	line-height:42px; 
	color:#fff;
	background:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
	background: transparent;
	width:100%;
	word-break: none;
	min-width:185px;
	border: 1px solid #fff;
	outline: 2px 2px 2px #fff; 
	text-align:center; 
	display:block; 
	font-weight:normal !important; 
	font-size:16px !important; 
	font-family: 'proxima_novalight'; 
	letter-spacing:1px;
}

input[type="text"], input[type="email"] {
  padding: 8px;
  background: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
}

@media only screen and (max-width:600px) {
	.setUpDemo {
	  background-size: 150%;
	  background-position-y: 100%;
	}
}

// end demo form

}
